* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 1000px;
    margin: 100px auto;
}

.board_title {
    margin-bottom: 30px;
}

.board_title strong{
    font-size: 3rem;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid #000;
    border-radios: 2px;
    font-size: 1.4rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #ddd;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}

.board_list > div > div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}

.board_list > div > div:first-child {
    border-right: 1px solid #000;
}

.board_list .num {
    width: 18%;
}

.board_list .title {
    width: 78%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
}

.board_page a.num {
    font-size: 1.4rem;
}

.board_page a.on {
    font-size: 1.5rem;
    color: red;
}

.board_body {
    width: 100%;
    border-top: 2px solid #000;
}

.board_body input {
    margin-top: 5px;
    width : 100%;
    box-sizing : border-box
}

.board_body textarea {
    width : 100%;
    margin-top : 10px;
    min-height : 300px;
}

.board_comment {
      margin-top: 50px;
      text-align: left;
      font-size: 1.3rem;
}

.board_comment_list{
      margin-top: 5px;
}