<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 작성폼</title>
    <link rel="stylesheet" href="/css/css.css">
</head>

<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>DooDoo Board</strong>
            <p>게시글 등록하기</p>
        </div>
        <div class="board_body_wrap">
            <div class="board_body">
                <form action="/board/writedo" method="post">
                    <input name="title" type="text">
                    <textarea name="content"></textarea>
                    <button type="submit">등록</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>