<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
    <link rel="stylesheet" href="/css/css.css">
</head>

<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>DooDoo Board</strong>
            <p>게시글 보기</p>
        </div>
        <div class="board_body_wrap">
            <div class="board_body">
                <input name="title" type="text" th:value="${board.title}" readonly>
                <textarea name="content" th:text="${board.content}" readonly></textarea>
            </div>
            <div class="board_comment">
                <textarea name="name" readonly>작성자</textarea>
                <textarea name="comment" readonly>댓글내용</textarea>
            </div>
            <div class="bt_wrap">
                <a class="on" th:href="@{/board/delete(id=${board.id})}">글삭제</a>
                <a class="on" th:href="@{/board/modify/{id}(id=${board.id})}">글수정</a>
                <a class="on" href="/board/list">글목록</a>
            </div>
        </div>
    </div>
</body>

</html>