<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 페이지</title>
</head>

<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }

    .layout input {
        width : 100%;
        box-sizing : border-box
    }

    .layout textarea {
        width : 100%;
        margin-top : 10px;
        min-height : 300px;
    }

</style>

<body>
    <div class="layout">
        <a th:href="@{/board/delete(id=${board.id})}">글삭제</a>
        <a th:href="@{/board/modify/{id}(id=${board.id})}">글수정</a>
        <a href="/board/list">글목록</a>
        <input name="title" type="text" th:value="${board.title}" readonly>
        <textarea name="content" th:text="${board.content}" readonly></textarea>
    </div>
</body>

</html>